<div class="items-header">
  <%= link_to root_path do %>
    <%= image_tag '/images/puchu_blue.png', :size => '100x46', :class => 'items-header-logo' %>
  <% end %>

  <%= link_to new_user_session_path do %>
    <%= image_tag '/images/log_in_blue.png', :size =>'160x48', :alt => 'Log in', :class => 'top-my-page' %>
    <%= image_tag '/images/log_in_hover.png', :size =>'160x48', :alt => 'Log in', :class => 'top-my-page-green' %>
  <% end %>

  <h1 class="items-title">
    TICKET
  </h1>

  <h3 class="items-subtitle">
    オンラインチケットのご購入
  </h3>

</div>

<div class="items-notice">
  <h2 class="items-notice-title">
    ご予約時の注意事項
  </h2>

  <div class="items-notice-box">
    <h4 class="items-notice-subtitle">
      【完全WEB予約制】
    </h4>
    <h5>
      <p>オンラインチケットをご購入ください。</p>
      <p>ご予約いただく時間帯は「入場可能な時間帯」です。実際にご来場いただいた時間から90分制となります。<br>
      <br>（例）
      <br>10:00~12:00のご予約で、11:30にご入場された場合、入場から90分間（13:00まで）遊んでいただけます。</p>
    </h5>
    <h6>
      <ul>
        <li>オンラインチケットのご購入には、WEB会員登録が必須となっております。</li>
        <li>予約の時点で事前に料金をお支払いただきます。お支払いをせずに予約することはできません。※クレジットカード払いのみ</li>
        <li>ご予約が正常に完了すると、チケット購入完了のメールがお手元に届きます。<u>メールが届かない場合、ご予約が完了できておりませんのでご注意ください。</u></li>
        <li>ドメイン受信設定をされている場合：「<u>@pu-chu.com</u>」ドメインの受信許可設定をしてください。</li>
        <li>メールアドレス受信設定をされている場合：「<u>noreply@pu-chu.com</u>」からの受信許可設定をしてください。</li>
        <li>迷惑メールフィルターを利用されている場合：弊社からのメールが迷惑メールフォルダーに振り分けられることがありますので、ご注意ください。</li>
    </h6>
  </div>
</div>

<div class="items-calendar">
  <h2 class="items-calendar-title">
    ご来場の人数と日時を選択してください
  </h2>
  <h5 class="items-calendar-subtitle">
    Select Number of Guests and Date/Time
  </h5>

  <div class="items-calendarheader">
    <h4>2019年 6月</h4>
  </div>
  <div class="items-calendarbody clearfix">
    <div class="items-calendar-week">
      <p class="dayjp">日</p><br><p class="dayeng">SUN</p>
    </div>
    <div class="items-calendar-week">
      <p class="dayjp">月</p><br><p class="dayeng">MON</p>
    </div>
    <div class="items-calendar-week">
      <p class="dayjp">火</p><br><p class="dayeng">TUE</p>
    </div>
    <div class="items-calendar-week">
      <p class="dayjp">水</p><br><p class="dayeng">WED</p>
    </div>
    <div class="items-calendar-week">
      <p class="dayjp">木</p><br><p class="dayeng">THU</p>
    </div>
    <div class="items-calendar-week">
      <p class="dayjp">金</p><br><p class="dayeng">FRI</p>
    </div>
    <div class="items-calendar-week">
      <p class="dayjp">土</p><br><p class="dayeng">SAT</p>
    </div>

    <%#= %>
      <div class="items-calendar-box-blank">
        
      </div>
      <div class="items-calendar-box-blank">
        
      </div>
      <div class="items-calendar-box-blank">
        
      </div>
      <div class="items-calendar-box-blank">
        
      </div>
      <div class="items-calendar-box-blank">
        
      </div>
      <div class="items-calendar-box-blank">
        
      </div>
      <div class="items-calendar-box-weekend">
        6月1日<br>
        <p class="vacancy">◯<br></p>
        空きあり
        <%#= @items.date_id.each do |date| %>
        <%# end %>
      </div>
      <div class="items-calendar-box-weekend">
        6月2日<br>
        <p class="vacancy">◯<br></p>
        空きあり
        <%#= @items.date_id.each do |date| %>
        <%# end %>
      </div>
      <div class="items-calendar-box">
        6月3日<br>
        <p class="vacancy">◯<br></p>
        空きあり
        <%#= @items.date_id.each do |date| %>
        <%# end %>
      </div>
      <div class="items-calendar-box">6月4日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box">6月5日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box">6月6日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box">6月7日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box-weekend">6月8日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box-weekend">6月9日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box">6月10日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box">6月11日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box">6月12日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box">6月13日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box">6月14日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box-weekend">6月15日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box-weekend">6月16日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box">6月17日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box">6月18日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box">6月19日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box">6月20日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box">6月21日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box-weekend">6月22日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box-weekend">6月23日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box">6月24日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box">6月25日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box">6月26日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box">6月27日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box">6月28日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box-weekend">6月29日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box-weekend">6月30日<br><p class="vacancy">◯<br></p>空きあり</div>
      <div class="items-calendar-box-blank"></div>
      <div class="items-calendar-box-blank"></div>
      <div class="items-calendar-box-blank"></div>
      <div class="items-calendar-box-blank"></div>
      <div class="items-calendar-box-blank"></div>
      <div class="items-calendar-box-blank"></div>
    <%# end %>

    <div class="icon">
      <p class="items-calendar-notice">休日料金となります</p>
    </div>
  </div>
</div>

<div class="items-faq">
  よくあるご質問はこちら
</div>

<div class="items-howto">
  <p class="items-howto-title">オンラインチケットのご利用方法</p>

  <div class="aaa">1</div>

  <div class=""></div>



</div>

  <div style="height: 500px;"></div>




